@import "../../styles/abstracts/all";

.button {
  @include border-radius(4px);
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
  background: none;

  .content {
    @include border-radius(4px);
    @include transition(background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms);
    padding: 8px 12px;
    min-width: 64px;
    display: block;
  }

  &.default {
    background-color: $primary-color;
    color: #fff;
    a {
      color: #fff;
    }

    .content {
      background-color: rgba(195, 42, 34, 0);
    }

    &:focus,
    &:hover {
      :local(.content) {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    &:active {
      :local(.content) {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  &.minimal {
    font-size: 0.81rem;
    :local(.content) {
      padding: 6px 8px;
      color: $primary-color;
      background-color: transparent;
      a {
        color: $primary-color;
      }
    }

    &:focus,
    &:hover {
      .content {
        background-color: rgba(195, 42, 34, 0.08);
      }
    }

    &:active {
      .content {
        background-color: rgba(195, 42, 34, 0.38);
      }
    }
  }
}

*:focus > .button {
  &.default {
    .content {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
  &.minimal {
    .content {
      background-color: rgba(195, 42, 34, 0.08);
    }
  }
}
