@import "../../styles/abstracts/all";

.hidden {
  width: 0;
  height: 0;
  border: none;
  position: absolute;
  padding: 0;
}

.postModalOverlay {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  padding: 8px 28px;
  z-index: 2;
  justify-content: center;
  @media (min-width: $screen-sm) {
    padding: 36px;
  }

  .arrowLeftButton,
  .arrowRightButton {
    @include appearance(none);
    @include transition(color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms);
    background: none;
    align-self: center;
    padding: 22px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:focus {
      color: rgba(255, 255, 255, 1);
      @include transform(scale(1.5));
    }

    svg {
      @include transform(rotate(90deg));
      @media (min-width: $screen-sm) {
        @include transform(none);
      }
    }
  }

  .arrowPlaceholderButton {
    width: 64px;
  }

  .postModalContent {
    @include calc("max-height", "100% - 128px");
    @include box-shadow(
      0 11px 15px -7px rgba(0, 0, 0, 0.2),
      0 24px 38px 3px rgba(0, 0, 0, 0.14),
      0 9px 46px 8px rgba(0, 0, 0, 0.12)
    );
    max-width: 540px;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    overflow: auto;
    @media (min-width: $screen-sm) {
      @include calc("width", "100% - 128px");
      max-height: 100%;
    }
  }
}
