@import "../../styles/abstracts/all";

.header {
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 2.5em;
    margin: 0.25em 0;
  }

  .backgroundImage {
    position: absolute;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .overlay {
    background-color: rgba(25, 25, 25, 0.75);
    display: flex;
    position: relative;
    padding: 16px 24px;
    .logo {
      margin: auto;
      width: 200px;
    }
    @media (min-width: $screen-xs) {
      height: 200px;
    }
    @media (min-width: $screen-sm) {
      height: 350px;
      .logo {
        width: 250px;
      }
    }
    @media (min-width: $screen-md) {
      height: 400px;
      .logo {
        width: 300px;
      }
    }
    @media (min-width: $screen-lg) {
      height: 450px;
      .logo {
        width: 350px;
      }
    }
    @media (min-width: $screen-xl) {
      height: 500px;
      .logo {
        width: 400px;
      }
    }
  }
}
