@import "../styles/abstracts/all";

.formListElement {
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px 16px;
    background-color: #fff;
    .formElementGroupTitle {
        font-size: 1.2em;
        display: block;
        padding: 4px 8px;
        margin-top: 8px;
    }
    .formElement {
        display: flex;

        label {
            margin: 8px;
            width: 100%;
            height: fit-content;
            display: block;
            font-weight: bold;
            position: relative;
            > div {
                display: block;
            }
            input[type="text"],
            input[type="number"],
            input[type="date"],
            select {
                height: 37px;
            }
            input[type="text"],
            input[type="number"],
            input[type="date"],
            select,
            textarea {
                display: block;
                width: 100%;
                max-width: 100%;
                font-family: $default-font;
                font-size: 1em;
                color: $default-text-color;
                font-weight: normal;
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
                + .inputAddons {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    button {
                        padding: 8px;
                        font-family: $default-font;
                        font-size: 1em;
                        border: 1px solid #ddd;
                        background-color: #eee;
                        width: auto;
                        border-radius: 0;
                        &:hover,
                        &:focus {
                            background-color: #e4e4e4;
                        }
                        &:last-child {
                            border-radius: 0 4px 4px 0;
                        }
                    }
                }
            }
            input:read-only {
                padding: 8px 0;
                border: 1px solid transparent;
            }

            > span {
                font-size: 1em;
                display: block;
                padding: 8px 0;
                border: 1px solid transparent;
                font-family: $default-font;
                color: $default-text-color;
                font-weight: normal;
            }
            textarea {
                resize: vertical;
                min-height: 100px;
            }
            input[type="checkbox"] {
                @include appearance(checkbox);
                display: block;
                width: 18px;
                height: 30px;
            }
        }
    }
    details {
        margin: 8px;
        font-size: 1em;
        summary {
            cursor: pointer;
        }
    }
    .buttonBar {
        text-align: right;
        button {
            @include appearance(none);
            text-align: center;
            display: inline-block;
            border-radius: 50%;
            padding: 10px;
            width: 40px;
            height: 40px;
            margin: 0 8px 8px 0;
            svg {
                font-size: 20px;
                display: block;
                margin: auto;
            }
        }
    }
}